/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@layer base {
  :root {
    --color-primary: #197fe6;
    --color-background-light: #f6f7f8;
    --color-background-dark: #111921;
  }
}

@layer utilities {
  .bg-background-light {
    background-color: var(--color-background-light);
  }
  
  .bg-background-dark {
    background-color: var(--color-background-dark);
  }
  
  .text-primary {
    color: var(--color-primary);
  }
  
  .bg-primary {
    background-color: var(--color-primary);
  }
  
  .border-primary {
    border-color: var(--color-primary);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', Roboto, "Helvetica Neue", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-family: 'Material Symbols Outlined';
}

.material-fill {
  font-variation-settings: 'FILL' 1;
}

